@model EditCarFormModel
@{
    ViewBag.Title = "Edit Car";
    var presentTime = DateTime.Now.Date.ToString("dd/MM/yyyy");
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Make" class="form-label-add-edit">Edit Make</label>
                <input asp-for="@Model.Make" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Make" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Model" class="form-label-add-edit">Edit Model</label>
                <input asp-for="@Model.Model" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Model" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label-add-edit">Edit Image URL</label>
                <textarea asp-for="@Model.ImageUrl" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.YearOfProduction" class="form-label-add-edit">Edit Year of production</label>
                <input asp-for="@Model.YearOfProduction" class="form-control" aria-required="true" value="@(string.IsNullOrEmpty(Model.YearOfProduction) ? presentTime : Model.YearOfProduction)" )" />
                <span asp-validation-for="@Model.YearOfProduction" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.EngineTypeId" class="form-label-add-edit">Edit Engine type</label>
                <select asp-for="@Model.EngineTypeId" class="form-control" aria-required="true">
                    @foreach (var engineType in Model.EngineTypes)
                    {
                        <option value="@engineType.Id">@engineType.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.EngineTypeId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Horsepower" class="form-label-add-edit">Edit Horsepower</label>
                <input asp-for="@Model.Horsepower" class="form-control" value="@Model.Horsepower" />
                <span asp-validation-for="@Model.Horsepower" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.GearboxTypeId" class="form-label-add-edit">Edit Gearbox type</label>
                <select asp-for="@Model.GearboxTypeId" class="form-control" aria-required="true">
                    @foreach (var gearboxType in Model.GearboxTypes)
                    {
                        <option value="@gearboxType.Id">@gearboxType.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.GearboxTypeId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CategoryId" class="form-label-add-edit">Edit Category</label>
                <select asp-for="@Model.CategoryId" class="form-control" aria-required="true">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Color" class="form-label-add-edit">Edit Color</label>
                <input asp-for="@Model.Color" class="form-control" value="@Model.Color" />
                <span asp-validation-for="@Model.Color" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Kilometers" class="form-label-add-edit">Edit Kilometers</label>
                <input asp-for="@Model.Kilometers" class="form-control" value="@Model.Kilometers" />
                <span asp-validation-for="@Model.Kilometers" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.PricePerDay" class="form-label-add-edit">Edit Price per day</label>
                <input asp-for="@Model.PricePerDay" class="form-control" value="@Model.PricePerDay" />
                <span asp-validation-for="@Model.PricePerDay" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.IsVipOnly" class="form-label-add-edit">Edit Vip only</label>
                <input asp-for="@Model.IsVipOnly" class="form-control" value="@Model.IsVipOnly" />
                <span asp-validation-for="@Model.IsVipOnly" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Edit" />
                <a asp-controller="Car" asp-action="All" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Back to All Cars</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

