@model PayServiceViewModel
@{
    ViewBag.Title = "Pay Rent";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="PayRent" method="post">
            <div class="mb-3">
                <p>Payment Amount: @Model.PaymentAmount$</p>
                <label asp-for="@Model.PaymentTypeId" class="form-label-add-edit">Select Payment type</label>
                <select asp-for="@Model.PaymentTypeId" class="form-control" aria-required="true">
                    <option disabled selected value="">Select Payment type...</option>
                    @foreach (var paymentType in Model.PaymentTypes)
                    {
                        <option value="@paymentType.Id">@paymentType.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.PaymentTypeId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-outline-success mb-2 w-100 p-3 fw-bold" type="submit" value="Pay" />
                <a asp-controller="Rent" asp-action="All" class="btn btn-outline-danger mb-2 w-100 p-3 fw-bold">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
